/*overflow oculta todos los elementos
 * que se salgan del ancho de la pantalla*/
#page {
	height: 100vh;
	overflow: hidden;
}

#sidebar {
	background-color:#97c2c5;
}

/*probablemente asi no quede el brand del sidebar
 * pq es muy feo */
#sidebar-brand {
	font-size: 44px;
	font-weight: bold;
}

#sidebar-contents {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

@media screen and (min-width: 992px){
	#sidebar-brand {
		font-size: 45px;
	}

	#sidebar-contents {
		margin-top:3.5rem;	
		margin-bottom:3.5rem;	
	}
}

#sidebar-form {
	margin-top: 3rem;
	margin-left: 0rem;
	margin-right: 0rem;
}

#navbar {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.opensansfont {
	font-family: 'Open Sans', sans-serif;
}

/*media query para sacarle el padding cuando
 * en pantalla grande
 */
@media (min-width: 992px) {
	#navbar {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
}

#hamburguer-button {
	border-radius: 8px;
	padding: 1px;
	border: none;
}

#brand {
	font-size:1.6rem;
	font-weight: bold;
}

.brand-div {
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
}

@media (max-width: 992px){
	.brand-div {
		padding-top: 0.3rem;
		padding-bottom: 0.6rem;
	}
}

#page {
	padding: 0px;
}

/* clase de debug */
.debug {
	background-color: #ff0000;
	border: 2px solid black;
}

/* modificando el margin-left se modifica el espaciado entre
 * los links del navbar */
.item-navbar {
	margin-left: 0.2rem;
}

.button-navbar {
	font-size: 1.1rem;
}

/* Un elemnto de la clase .link-navbar
 * que este adentro de otro de la clase
 * .navbar-nav, esto hace que gane
 * la specificity de css y los estilos
 * se apliquen
 */
.navbar-nav .link-navbar {
	padding:0.25rem 0.5rem 0.25rem 0.5rem;
}
